.header {
	background: var(--colorViolet);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	border-bottom: 2px solid var(--colorOrange);
	transition: translate 200ms;
}

.header_hidden {
	translate: 0px -100%;
}

.navbar {
	display: flex;
	padding: 20px;
	gap: 20px;
}

.logo {
	border-radius: 5px;
	position: relative;
	display: flex;
	gap: 10px;
	padding: 5px;

	&:hover {
		background: var(--colorVioletDark);
	}
}

.logo__img {
	width: 40px;
	object-fit: contain;
}

.logo__brand {
	font-size: 2rem;
	font-weight: 700;
}

.search {
	min-width: 0;
	display: flex;
	align-items: center;
	margin-left: auto;
	position: relative;
}

.search__form {
	width: 100%;
	display: flex;
	gap: 20px;
}

.search__field {
	flex-grow: 1;
	background: var(--colorVioletDark);
	padding: 10px 20px;
	color: var(--colorWhite);
	font-family: inherit;
	font-weight: 500;
	border-radius: 5px;
}

.search__results {
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, 10px);
	background: var(--colorVioletDark);
	width: 500px;
	border-radius: 5px;
	border: 2px solid var(--colorOrange);
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow: hidden;
	max-height: 900px;
	transition: max-height 700ms, border-width 100ms, padding 100ms;

	&:before {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translate(-50%, 0);
		border: 10px solid transparent;
		border-bottom: 10px solid var(--colorOrange);
	}
}

.search__results_disabled {
	max-height: 0px;
	padding: 0 10px;
	border-width: 0px;
	transition: max-height 300ms, border-width 100ms, padding 0ms 200ms;
}

.search__item {
	position: relative;
	background: var(--colorViolet);
	height: 150px;
	border-radius: 5px;
	display: flex;
	gap: 10px;
}

.search__img {
	position: relative;
	aspect-ratio: 3/4;
	height: 100%;
	border-radius: 5px 0px 0px 5px;
	border-right: 3px solid var(--colorOrange);

	img {
		border-radius: 5px 0px 0px 5px;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.search__data {
	padding: 10px;
	padding-left: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;

	a {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.search__title_line-left {
	font-size: 1.5rem;
}

.btn-search {
	background: var(--colorOrange);
	padding: 0 10px;
	font-weight: 500;
}

.header__trigger {
	&:checked+.nav {
		transform: translateX(0px);
	}
}

.nav {
	display: flex;
	align-items: center;
}

.nav__title {
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	display: none;
	margin: 0;
	margin-bottom: 30px;
}

.nav__list {
	display: flex;
	margin: 0;
	gap: 20px;
}

.nav__item {
	display: block;
	font-weight: 500;
	font-size: 1.25rem;
	padding: 5px 10px;
	height: 100%;
	border-radius: 5px;

	&:hover {
		background: var(--colorVioletDark);
	}
}

.burger {
	align-items: center;
	display: none;
	position: relative;
}

.burger_show {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
}

.burger__btn {
	width: 50px;
	aspect-ratio: 6/5;
	background: var(--colorVioletDark);
	position: relative;
	border-radius: 5px;
}

.burger__line {
	position: absolute;
	left: 10px;
	right: 10px;
	height: 3px;
	background: var(--colorOrange);
	border-radius: 5px;

	&:nth-child(1) {
		top: 10px;
	}

	&:nth-child(2) {
		top: 50%;
		transform: translateY(-75%);
	}

	&:nth-child(3) {
		bottom: 10px;
	}
}

.spacer {
	height: 91px;
}

@media (max-width: 992px) {

	.nav {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: var(--colorViolet);
		padding: 40px;
		display: block;
		transform: translateX(100%);
		transition: transform 500ms;
		z-index: 3;
	}

	.nav__title {
		display: block;
	}

	.nav__list {
		flex-direction: column;
	}

	.nav__item {
		background: var(--colorOrange);
		display: block;
		width: 100%;
		border-radius: 10px;

		a {
			text-align: center;
			display: block;
			width: 100%;
			padding: 10px;
		}

		&:active {
			background: #cf7540;
		}
	}

	.burger {
		display: flex;
	}
}


@media (max-width: 500px) {
	.logo__brand {
		display: none;
	}
}