.games__inner {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.games__list {
  flex-grow: 1;
}

.games__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  justify-content: center;
  gap: 10px;
  background: var(--colorViolet);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.games__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.games__item {
  position: relative;
}
.games__item:hover .details {
  opacity: 1;
  transform: translateX(100%);
}

.games__item--overflow:hover .details {
  transform: translateX(-100%);
}

.preview {
  position: relative;
  border-radius: 5px;
  aspect-ratio: 2/3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}
.preview:before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background-image: linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.6) 80%);
  border-radius: inherit;
}

.preview--great {
  box-shadow: 0px 0px 10px 1px var(--colorOrange);
}

.games__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.games__background {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 100%;
}

.games__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 10px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info__name {
  font-size: 1.25rem;
  font-weight: 500;
  max-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating {
  display: flex;
  gap: 10px;
  align-items: center;
}

.rating--hide {
  display: none;
}

.rating__numbers {
  font-size: 1.125rem;
  font-weight: 500;
}

.rating__visual {
  flex-grow: 1;
  width: 100%;
  background-color: var(--colorVioletDark);
  outline: 2px solid var(--colorOrange);
  height: 10px;
  border-radius: 5px;
}
.rating__visual:before {
  content: "";
  position: absolute;
  background-color: var(--colorOrange);
  top: 0;
  bottom: 0;
  left: -1px;
  border-radius: 5px;
}
.rating__visual_1 {
  position: relative;
}
.rating__visual_1:before {
  width: 33.3%;
}
.rating__visual_2 {
  position: relative;
}
.rating__visual_2:before {
  width: 66.6%;
}
.rating__visual_3 {
  position: relative;
}
.rating__visual_3:before {
  width: calc(100% + 2px);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  width: 300px;
  padding: 20px;
  top: 0;
  right: -30px;
  background-color: var(--colorOrange);
  z-index: 4;
  border-radius: 5px;
  pointer-events: none;
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  opacity: 0;
  transform: translateX(80%);
}
.details a {
  text-transform: lowercase;
}

.details--left {
  left: -30px;
  right: auto;
  transform: translateX(-80%);
}

.details__item {
  font-size: 0.85rem;
}

.details__title {
  font-weight: 600;
  word-wrap: break-word;
  font-size: 1rem;
}

.details .different {
  opacity: 0.7;
}
.details .description {
  max-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.background--no {
  filter: grayscale(1);
}

.link-games {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  display: block;
  z-index: 4;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.page-numbers {
  border-radius: 5px;
  background: var(--colorViolet);
  padding: 5px 10px;
}
.page-numbers:hover {
  background: #301d4b;
}

.filter-games {
  background-color: var(--colorViolet);
  position: relative;
  border-radius: 10px;
  width: 22%;
  min-width: 250px;
  transition: transform 500ms;
  padding: 30px;
}

.filter__body {
  position: relative;
}

.title-filter {
  display: block;
  padding: 0 20px 10px;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.title-filter:before {
  content: "";
  position: absolute;
  height: 3px;
  background: var(--colorOrange);
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 0;
}

.filter__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--colorVioletDark);
  border-radius: 10px;
  padding: 20px;
}

.filter__body-games {
  margin-bottom: 20px;
}

.filter__header {
  position: relative;
}

.filter__trigger {
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: 0px;
  right: -20px;
  cursor: pointer;
  z-index: 2;
}

.filter__type {
  font-size: 1.25rem;
  margin: 0;
  padding: 0 10px;
  position: relative;
}
.filter__type:before {
  content: "";
  position: absolute;
  background: var(--colorOrange);
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
}

.filter__labels {
  transition: max-height 1000ms;
  max-height: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--colorViolet);
  border-radius: 5px;
}

.label__input {
  display: none;
}
.label__input:checked + .label__front:before {
  left: 25px;
}
.label__input:checked + .label__front::after {
  transform: translateX(-20%);
}

.label__front {
  width: 50px;
  height: 25px;
  background: var(--colorVioletDark);
  border-radius: 50px;
  position: relative;
  border: solid var(--colorViolet);
  transition: background 500ms;
  overflow: hidden;
}
.label__front:before {
  content: "";
  border-radius: 50px;
  position: absolute;
  width: 19px;
  aspect-ratio: 1;
  background: var(--colorOrange);
  left: 0px;
  top: 45%;
  transform: translateY(-50%);
  transition: left 500ms;
  z-index: 2;
}
.label__front:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0px;
  width: 100%;
  transform: translateX(-80%);
  transition: transform 500ms;
}

.trigger-category:checked + .filter__labels {
  max-height: 500px;
}

.btn-games {
  width: 100%;
  background: var(--colorOrange);
  font-size: 1rem;
  font-weight: 500;
}

.filter__mobile {
  display: none;
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding: 10px;
  background: var(--colorViolet);
  border-top: 2px solid var(--colorOrange);
}
.filter__mobile label {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.filter__btn {
  display: block;
  background: var(--colorVioletDark);
  padding: 10px 0;
  border-radius: 5px;
  display: none;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 992px) {
  .search {
    margin-left: 0;
    flex-grow: 1;
  }
  .games {
    margin-bottom: 70px;
  }
  .filter-games {
    transform: translateX(-100%);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    overflow-y: scroll;
    border-radius: 0px;
  }
  .filter__mobile {
    display: block;
    transition: translate 200ms;
  }
  .filter__mobile_hidden {
    translate: 0px 100%;
  }
  .filter_trigger:checked + .filter-games {
    transform: translateX(0px);
  }
  .btn-games {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .filter__btn {
    display: block;
  }
}
@media (max-width: 780px) {
  .details {
    display: none;
  }
}
@media (max-width: 490px) {
  section {
    padding: 10px 0px;
  }
  .games__inner {
    margin: 0px 10px;
  }
  .games__items {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  .info__name {
    font-size: 1rem;
  }
}/*# sourceMappingURL=games.css.map */