.single-games__container {
	background: var(--colorViolet);
	border-radius: 10px;
	padding: 30px;
}

.single-games__block {
	margin-bottom: 30px;
	background: var(--colorVioletDark);
	padding: 20px;
	border-radius: 10px;
}

.single-games__info {
	position: relative;
	z-index: 2;
	// display: flex;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-areas:
		"img info"
		"rating rating"
	;
	gap: 50px;
	align-items: flex-start;
	margin-bottom: 80px;
}

.single-games__col {

	&:nth-child(1) {
		background: var(--colorVioletDark);
		border-radius: 10px;
		box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
		position: relative;
		z-index: 2;
		margin-bottom: 50px;
		grid-area: img;
	}

	&:nth-child(2) {
		grid-area: info;
	}
}

.single-games__img {
	border-radius: 10px 10px 0 0;
	aspect-ratio: 3/4;
	position: relative;

	img {
		border-radius: inherit;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 100%;
	}
}

#info__meta {

	&:checked {
		&+.list_show {
			max-height: 700px;
			padding: 10px;
			padding-top: 15px;

			&:after {
				height: 5px;
			}
		}

		&~.info__trigger {
			&:before {
				content: 'скрыть';
			}
		}
	}
}

.list__outside {
	position: absolute;
	left: 0;
	right: 0;
	background: var(--colorVioletDark);
	border-radius: 0 0 10px 10px;
}

.single-games__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
}

.list_show {
	max-height: 0px;
	overflow-y: hidden;
	padding: 0 10px;
	transition: max-height 500ms, padding 500ms;

	&:after {
		content: '';
		width: 100%;
		position: absolute;
		height: 0px;
		background: var(--colorOrange);
		top: 0;
		left: 0;
		transition: height 300ms;
	}
}

.list-title {
	font-size: 0.85rem;
	opacity: 0.7;
}

.single-games__list-title {
	margin-bottom: 10px;
}

.list__data_description {
	width: 70%;
	letter-spacing: 0.005rem;
	line-height: 1.25rem;
}

.info__trigger {
	position: relative;
	padding: 10px;

	&:before {
		content: 'Показать';
		background: var(--colorOrange);
		display: block;
		width: 100%;
		text-align: center;
		padding: 5px 0;
		font-weight: 500;
		text-transform: uppercase;
		border-radius: 5px;
	}
}

.info__label {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.genres {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.genres__item {
	background: var(--colorOrange);
	padding: 7px 15px;
	border-radius: 5px;
	position: relative;
	margin: 0 10px;
	transition: margin 200ms, padding 200ms;

	&:hover {
		margin: 0;
		padding: 7px 25px;
	}
}

.games-single__rating {
	width: 75%;
	margin: 0 auto;
	position: relative;
	grid-area: rating;
}

.progress-bar {
	height: 10px;
	background: var(--colorVioletDark);
	width: 100%;
	border-radius: 10px;
	position: relative;
	margin-bottom: 10px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		background: var(--colorOrange);
		border-radius: inherit;
	}
}

.progress-bar_1 {

	&:before {
		width: 0%;
	}
}

.progress-bar_2 {

	&:before {
		animation: progress-fill_2 1200ms ease-in 0ms forwards;
	}
}

.progress-bar_3 {

	&:before {
		animation: progress-fill_3 1200ms ease-in 0ms forwards;
	}
}

@keyframes progress-fill_2 {
	from {
		width: 0%;
	}

	to {
		width: 50%;
	}
}

@keyframes progress-fill_3 {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

.rating__visual {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.rating__star {
	width: 50px;

	&:nth-child(2) {
		margin: 0 auto;
	}

	&:nth-child(3) {
		margin-left: auto;
	}
}

.similar__items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 25%));
}

.similar__item {
	background: var(--colorViolet);
	border-radius: 5px;
	display: flex;
}

.similar__img {
	position: relative;
	aspect-ratio: 3/4;
	min-width: 100px;
	max-width: 30%;
	border-radius: 5px 0px 0px 5px;
	border-right: 3px solid var(--colorOrange);

	img {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		border-radius: inherit;
	}
}

.similar__list {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.similar__list-title {
	font-size: 1.25rem;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
}

.similar__list-item_disabled {
	opacity: 0.7;
}

.shots__items {
	display: flex;
	gap: 20px;
}

.single-games__shots-item {
	min-width: 200px;
	max-width: 25%;
	aspect-ratio: 16 / 9;
	border-radius: 10px;
	background: var(--colorViolet);

	img {
		border-radius: inherit;
		object-fit: contain;
		height: 100%;
	}
}

.single-games__block_trailer {
	margin-bottom: 0;
}