@charset "UTF-8";
.single-games__container {
  background: var(--colorViolet);
  border-radius: 10px;
  padding: 30px;
}

.single-games__block {
  margin-bottom: 30px;
  background: var(--colorVioletDark);
  padding: 20px;
  border-radius: 10px;
}

.single-games__info {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: minmax(200px, 20%) 1fr;
  grid-template-areas: "img info" "rating rating";
  gap: 50px;
  align-items: flex-start;
  margin-bottom: 80px;
}

.single-games__col:nth-child(1) {
  background: var(--colorVioletDark);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
  grid-area: img;
}
.single-games__col:nth-child(2) {
  grid-area: info;
}

.single-games__img {
  border-radius: 10px 10px 0 0;
  aspect-ratio: 3/4;
  position: relative;
}
.single-games__img img {
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}

#info__meta:checked + .list_show {
  max-height: 700px;
  padding: 10px;
  padding-top: 15px;
}
#info__meta:checked + .list_show:after {
  height: 5px;
}
#info__meta:checked ~ .info__trigger:before {
  content: "скрыть";
}

.list__outside {
  position: absolute;
  left: 0;
  right: 0;
  background: var(--colorVioletDark);
  border-radius: 0 0 10px 10px;
}

.single-games__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.list_show {
  max-height: 0px;
  overflow-y: hidden;
  padding: 0 10px;
  transition: max-height 500ms, padding 500ms;
}
.list_show:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 0px;
  background: var(--colorOrange);
  top: 0;
  left: 0;
  transition: height 300ms;
}

.list-title {
  font-size: 0.85rem;
  opacity: 0.7;
}

.single-games__list-title {
  margin-bottom: 10px;
}

.list__data_description {
  width: 70%;
  letter-spacing: 0.005rem;
  line-height: 1.25rem;
}

.info__trigger {
  position: relative;
  padding: 10px;
}
.info__trigger:before {
  content: "Показать";
  background: var(--colorOrange);
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
}

.info__label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genres__item {
  background: var(--colorOrange);
  padding: 7px 15px;
  border-radius: 5px;
  position: relative;
  margin: 0 10px;
  transition: margin 200ms, padding 200ms;
}
.genres__item:hover {
  margin: 0;
  padding: 7px 25px;
}

.games-single__rating {
  width: 75%;
  margin: 0 auto;
  position: relative;
  grid-area: rating;
}

.progress-bar {
  height: 10px;
  background: var(--colorVioletDark);
  width: 100%;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
}
.progress-bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--colorOrange);
  border-radius: inherit;
}

.progress-bar_1:before {
  width: 0%;
}

.progress-bar_2:before {
  animation: progress-fill_2 1200ms ease-in 0ms forwards;
}

.progress-bar_3:before {
  animation: progress-fill_3 1200ms ease-in 0ms forwards;
}

@keyframes progress-fill_2 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
@keyframes progress-fill_3 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.rating__visual {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.rating__star {
  width: 50px;
}
.rating__star:nth-child(2) {
  margin: 0 auto;
}
.rating__star:nth-child(3) {
  margin-left: auto;
}

.similar__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 20px;
}

.similar__item {
  background: var(--colorViolet);
  border-radius: 5px;
  display: flex;
}

.similar__img {
  --borderRadius: 5px 0px 0px 5px;
  position: relative;
  aspect-ratio: 3/4;
  min-width: 100px;
  max-width: 30%;
  border-radius: var(--borderRadius);
  border-right: 3px solid var(--colorOrange);
}
.similar__img img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  border-radius: var(--borderRadius);
}

.similar__list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.similar__list-title {
  font-size: 1.25rem;
  font-weight: 600;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.similar__list-item_disabled {
  opacity: 0.7;
}

.shots__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: space-evenly;
  gap: 20px;
}

.single-games__shots-item {
  position: relative;
  aspect-ratio: 16/9;
  border-radius: 10px;
  background: var(--colorViolet);
}
.single-games__shots-item img {
  border-radius: inherit;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  border-radius: 10px;
}

.single-games__block_trailer {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .single-games__container {
    padding: 20px2;
  }
  .single-games__info {
    grid-template-areas: "img img" "info info" "rating rating";
  }
  .single-games__col:nth-child(1) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 300px;
  }
  .list__data_description {
    width: 100%;
  }
  .games-single__rating {
    width: 100%;
  }
}
@media (max-width: 490px) {
  .similar__items {
    grid-template-columns: repeat(auto-fill, 235px);
  }
  .similar__img {
    display: none;
  }
  .shots__items {
    grid-template-columns: repeat(auto-fill, 235px);
  }
}/*# sourceMappingURL=single-games.css.map */