:root {
	--FontColor: #F6F3FB;
	--color1: #211434;
	--color2: #382257;
	--SpecialColor1: #FFDE6D;
	--SpecialColor2: #FE8D4D;
	--SpecialColor3: #8A289A;
	--fontTitle: 'Montserrat',
		sans-serif;
	--fontText: 'Montserrat',
		sans-serif;
}