:root {
	// --FontColor: #F6F3FB;
	// --color1: #211434;
	// --color2: #382257;
	// --SpecialColor1: #FFDE6D;
	// --SpecialColor2: #FE8D4D;
	// --SpecialColor3: #8A289A;
	--colorWhite: #F6F3FB;
	--colorViolet: #382257;
	--colorVioletDark: #211434;
	--colorVioletLight: #8A289A;
	--colorOrange: #df7f47;
	// old orange #e78146
	--colorYellow: #FFDE6D;
	--fontTitle: 'Montserrat',
		sans-serif;
	--fontText: 'Montserrat',
		sans-serif;
}