.spacer {
	height: 75px;
}

.form-control {
	border: 0;
	color: var(--FontColor);

	&:focus {
		background-color: var(--color1);
		color: inherit;
		box-shadow: none;
	}
}

.navbar-nav {
	overflow: hidden;
	position: relative;
}

.nav-item {
	display: block;
	position: relative;
	overflow-X: hidden;
	border-radius: 5px;

	&:hover {
		background-color: var(--color1);
	}
}

.subtitle {
	font-size: 1.5rem;
}

.btn {
	background-color: var(--SpecialColor2);
	border-radius: 5px;
	color: var(--FontColor);
	transition: background 300ms ease-in-out;

	&:hover {
		background-color: #e98246;
	}
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.search {
		width: 100%;
	}
}